body {
    font-family: sans-serif;
}

header {
    background-color: #33CEC3;
    padding: 20px;
}
header a {
    text-decoration: none;
    font-size: 25px;
    color: #A30008;
}
nav {
    background-color: #FFBD40;
    padding: 10px;
    width: 250px;
    margin: 0px 0px 5px 5px;
}

.link-nav {
    font-size: 18px;
    text-decoration: none;
    color: #00665E;
}

main {
    background-color: #FD3F49;
    padding: 7px;
    color: #FFA700;
}

footer {
    background-color: #FFBD40;
    padding: 7px;
}

p {
    color: #1D766F;
}

span {
    background-color: #FFA700;
    padding: 4px;
    color: #00665E;
}

.zagolovok {
    background-color: #1D766F;
}

.link-text{
    text-decoration: none;
}

.link-header {
    background-color: #00665E;
    padding: 5px;
}
